.container {
  margin-bottom: 15%;
}
.row {
  background-color: white;

  padding: 9px 25px;
}
.buy-button {
  padding: 9px 19px;
  background-image: linear-gradient(to bottom, orange, red);
  border-style: none;
  border-radius: 6px;
  color: white;
}
.carousel-indicators {
  background-image: linear-gradient(to bottom, cyan, blue);
}

.carousel {
  box-shadow: 10px 20px 40px grey;
}
.dsgn1,
.dsgn2,
.dsgn3 {
  padding: 5px 8px;
  box-shadow: 10px 20px 40px grey;
  height: 240px;
}
.card-footer {
  border-style: none;
  background-color: white;
}
.card {
  box-shadow: 10px 20px 40px grey;
  border-radius: 5px;
}
